.mainNewsContainer {
  margin: 10px;
  background: #ffffff;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif !important;
  font-size: 14px;
  font-weight: 500;
}
.mainHeaderRow {
  background: #f6f4ef;
  border: 1px solid #dee2e6;
  margin: 0;
  padding: 0.5rem 0;
}
.newsHeadingStyles {
  font-weight: 700 !important;
  font-size: 1.5rem !important;
}
.newsViewAll {
  font-size: 13px !important;
  font-family: "Helvetica-Bold", sans-serif !important;
  color: var(--color-blue);
}
.newsViewAll:hover {
  color: var(--bs-link-hover-color);
  cursor: pointer;
}
/* .searchRow {
    border: 1px solid #dee2e6;
    margin: 0;
    padding: 10px 0;
  } */
.SearchBoxStyle {
  font-family: "Helvetica", sans-serif !important;
  font-weight: 700 !important;
  padding: 5px 10px;
}

.iconWrapper {
  width: 40px;
  height: 35px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background: var(--color-light-gray);
  border: 1px solid #ccc;
  backface-visibility: hidden;
}

.tresIcon {
  width: 28px;
  height: 61px; /* double height because image has 2 icons */
  transition: transform 0.4s ease;
}

.tresIcon_inactive {
  transform: translateY(-28px);
}
.toggleButtons {
  width: 40px;
}
.dateHeader {
  background: black;
  color: white;
  font-weight: 600;
  padding: 6px 10px;
}

.newsRow {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #837c66;
  padding: 8px;
}

.newsTime {
  width: 60px;
  color: #555;
}

.newsIcon img {
  width: 40px;
  margin-right: 10px;
}

.newsHeadline {
  flex: 1;
  cursor: pointer;
}
.searchRow {
  border: 1px solid #dee2e6;
  margin: 0;
  padding: 10px 0;
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}
.newsScrollArea {
  max-height: 580px; /* adjust as needed */
  overflow-y: auto;
  border: 1px solid #ccc;
}
.headerRow {
  padding: 1rem 1rem !important;
}

.Tradecount-Datepicker-left {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
  border: 1px solid #ced4da;
  width: 250px !important;
  height: 37px !important;
  font-size: 13px !important;
  font-family: "Montserrat", sans-serif !important;
  cursor: pointer;
  padding: 8px;
}

.Tradecount-Datepicker-left:is(:focus, :focus-visible) {
  outline: none !important;
}

.Tradecount-date-to {
  display: flex;
  justify-content: center;
  min-width: 35px;
  height: 37px !important;
  align-items: center !important;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
}

.Tradecount-Datepicker-right {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
  border: 1px solid #ced4da;
  font-size: 13px !important;
  width: 250px !important;
  height: 37px !important;
  font-family: "Montserrat", sans-serif !important;
  cursor: pointer;
  padding: 8px;
}

.Tradecount-Datepicker-right:is(:focus, :focus-visible) {
  outline: none !important;
}
