.mainHeader {
  background: #fff !important;
}
.mainNavbar {
  padding: 0 0;
}
.navItem {
  color: #000;
  font-weight: 700;
  margin-right: 15px;
}
.navItemAcitve {
  color: #0326b3 !important;
  margin-right: 15px;
  font-weight: 700;
}

.userName {
  background-color: #ffc530 !important;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #000;
  font-weight: 700;
}
.CalculatorBtn {
  background: var(--color-secondary) !important;
  border-color: var(--color-secondary) !important;
  color: #fff !important;
  font-weight: 500;
}
.CalculatorBtn:is(:hover, :focus) {
  background: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  color: #000 !important;
  font-weight: 500;
}
