.mainForwardTable {
  margin: 20px 10px !important;
  font-family: "Helvetica-Bold", sans-serif !important;
}
/* .MainHeading {
  color: var(--color-black) !important;
  font-size: 1.5rem !important

} */
