.managementWrapper {
  position: relative;
  background: #ffffff;
  border-radius: calc(0.5vw + 0.3rem);
  padding: 12px 8px;
  min-height: 82vh;
  z-index: 2;
}
.tableheaderbar {
  font-family: "Helvetica-Bold", sans-serif !important;
  background: var(--color-light) !important;
  color: var(--color-black) !important;
  padding: 5px 10px !important;
  font-size: 1rem;
  width: 100%;
  min-width: 100%;
  display: block;
}
.management_date {
  font-family: "Helvetica-Bold", sans-serif !important;
  color: var(--color-blue);
  font-weight: 700 !important;
  font-size: 14px;
  margin-left: auto !important;
  text-align: right !important;
}
