/* Start Treasury Discounting table  */
.ForwardsForTreasuryAndBranchTable-wrapper .Tresuary_Discounting {
  scrollbar-color: auto !important;
}
.ForwardsForTreasuryAndBranchTable-wrapper::-webkit-scrollbar {
  width: 0.3rem !important;
  border-radius: 20px !important;
  background-color: #f2f2f2 !important;
  height: 0.3rem !important;
}

.Tresuary_Discounting-wrapper::-webkit-scrollbar-thumb {
  border-radius: 20px !important;
  background: #ccc !important;
  margin-left: -15px !important;
}
.ForwardsForTreasuryAndBranchTable-thead tr:nth-child(1) th {
  background-color: #f6f4ef !important;
  text-align: center !important;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  border-right: 1px solid #837c66;
}
.ForwardsForTreasuryAndBranchTable-thead tr:nth-child(1) th:last-child {
  background-color: transparent !important;
  border-right: none !important;
}
.ForwardsForTreasuryAndBranchTable-thead tr:nth-child(1) th:nth-child(1) {
  background-color: transparent !important;
  /* text-align: center !important;
  color: #f26522;
  font-weight: 700;
  font-size: 14px;
  border-left: 0px !important; */
}
.ForwardsForTreasuryAndBranchTable-thead tr:nth-child(2) th {
  background-color: #000 !important;
  text-align: center !important;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}
.ForwardsForTreasuryAndBranchTable-thead th {
  padding: 5px 5px !important;
}
.ForwardsForTreasuryAndBranchTable-tbody tr td {
  padding: 5px 5px !important;
}
.ForwardsForTreasuryAndBranchTable-even-row {
  background-color: #f2f2f2;
}

.ForwardsForTreasuryAndBranchTable-odd-row {
  background-color: #fff;
}

.ForwardsForTreasuryAndBranchTable {
  background: none !important;
}
.ForwardsForTreasuryAndBranchTable-tbody {
  background: #fff !important;
  border: 1px solid #e1e1e1;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif !important;
}
.ForwardsForTreasuryAndBranchTable-tbody
  .ForwardsForTreasuryAndBranchTable-row
  .ForwardsForTreasuryAndBranchTable-cell {
  border: 1px solid #e1e1e1 !important;
}

.ForwardsForTreasuryAndBranchTable-thead tr:nth-child(2) th {
  text-align: left;
  font-size: 1rem !important;
}
/* End Forwards Treasury table  */

/* Start Dealer Discount Table */
.ForwardsForTreasuryAndBranchTable-wrapper .Tresuary_Discounting {
  scrollbar-color: auto !important;
}
.ForwardsForTreasuryAndBranchTable-wrapper::-webkit-scrollbar {
  width: 0.3rem !important;
  border-radius: 20px !important;
  background-color: #f2f2f2 !important;
  height: 0.3rem !important;
}

.ForwardsForTreasuryAndBranchTable-wrapper::-webkit-scrollbar-thumb {
  border-radius: 20px !important;
  background: #ccc !important;
  margin-left: -15px !important;
}

.DealerAndTreasuryDiscountTable-thead tr:nth-child(1) th {
  background-color: #000 !important;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}
.DealerAndTreasuryDiscountTable-thead th {
  padding: 5px 5px !important;
  border-radius: 0px !important;
}
.DealerAndTreasuryDiscountTable-tbody tr td {
  padding: 5px 5px !important;
}
.DealerAndTreasuryDiscountTable-even-row {
  background-color: #f2f2f2;
}

.DealerAndTreasuryDiscountTable-odd-row {
  background-color: #fff;
}

.DealerAndTreasuryDiscountTable {
  background: none !important;
}
.DealerAndTreasuryDiscountTable-tbody {
  background: #fff !important;
  border: 1px solid #e1e1e1;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif !important;
}
.DealerAndTreasuryDiscountTable-tbody
  .DealerAndTreasuryDiscountTable-row
  .DealerAndTreasuryDiscountTable-cell {
  border: 1px solid #e1e1e1 !important;
}

.DealerAndTreasuryDiscountTable-thead tr:nth-child(2) th {
  text-align: left;
  font-size: 1rem !important;
}
/* End Dealer Discount Table */

.ant-table-measure-row {
  visibility: collapse !important;
}

/* rateSheetTable */
/* SOFR */
.rateSheetTable-wrapper .rateSheetTable-container {
  position: relative;
  /* min-height: 332px !important; */
}

.rateSheetTable-measure-row {
  visibility: collapse !important;
}
.rateSheetTable-cell::before {
  display: none !important;
}
.rateSheetTable-header {
  border-radius: 0px !important;
}

/* ================= HEADER ROW 2 ================= */

.rateSheetTable .rateSheetTable-thead > tr:nth-child(1) > th {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 5px 10px !important;
  margin: 0;
  border: none !important;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 14px;
  border-radius: 0 !important;
}

/* Hide Scrollbar Column */
.rateSheetTable
  .rateSheetTable-thead
  > tr:nth-child(1)
  > th.rateSheetTable-cell-scrollbar {
  display: none !important;
}

/* ================= BODY COMMON ================= */

.rateSheetTable .rateSheetTable-tbody > tr > td {
  text-align: center;
  padding: 5px 10px !important;
  border-bottom: 1px solid #837c66;
  font-family: "Helvetica", sans-serif !important;
  font-size: 14px;
  line-height: 1.5em;
}

.rateSheetTable .rateSheetTable-tbody > tr > td:nth-child(1) {
  background: var(--color-Yorange-gray);
  font-family: "Helvetica-Bold", sans-serif !important;
  text-align: left;
  /* width: 150px !important; */
}

.rateSheetTable-wrapper .rateSheetTable {
  scrollbar-color: auto !important;
}
.rateSheetTable-wrapper .rateSheetTable table {
  padding-right: 5px;
}

.rateSheetTable-empty {
  background: none !important;
}
.rateSheetTable-wrapper
  .rateSheetTable-tbody
  > tr.rateSheetTable-placeholder:hover
  > td {
  background: none !important;
}

.rateSheetTable_Empty-empty {
  background: none !important;
}

.rateSheetTable_Empty-measure-row {
  visibility: collapse !important;
}
/* ================= HEADER ROW 1 ================= */
.rateSheetTable_Empty {
  border-radius: 0px !important;
}

/* ================= HEADER ROW 2 ================= */

.rateSheetTable_Empty .rateSheetTable_Empty-thead > tr:nth-child(1) > th {
  background: #000 !important;
  color: #fff;
  text-align: center;
  padding: 5px 10px !important;
  border: none !important;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 14px;
  border-radius: 0px !important;
}
.rateSheetTable_Empty-cell::before {
  display: none !important;
}
.rateSheetTable_Empty-thead {
  background: #000;
  border-radius: 0;
}

.rateSheetTable_Empty-measure-row {
  visibility: collapse !important;
}
/* ================= HEADER ROW 1 ================= */
.rateSheetTable_Empty {
  border-radius: 0px !important;
  min-height: 332px !important;
}

/* ================= HEADER ROW 2 ================= */
.rateSheetTable_Empty .rateSheetTable_Empty-header {
  border-radius: 0px !important;
}
.rateSheetTable_Empty .rateSheetTable_Empty-thead > tr:nth-child(1) > th {
  display: none !important;
}
.rateSheetTable_Empty-cell::before {
  display: none !important;
}

/* RateSheetSoftAndKIBOR */
.RateSheetSoftAndKIBOR-wrapper .RateSheetSoftAndKIBOR-container {
  position: relative;
}
.RateSheetSoftAndKIBOR-measure-row {
  visibility: collapse !important;
}
.RateSheetSoftAndKIBOR-cell::before {
  display: none !important;
}
.RateSheetSoftAndKIBOR-header {
  border-radius: 0px !important;
}

/* ================= HEADER ROW 2 ================= */

.RateSheetSoftAndKIBOR .RateSheetSoftAndKIBOR-thead > tr:nth-child(1) > th {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 5px 10px !important;
  margin: 0;
  border: none !important;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 14px;
  border-radius: 0 !important;
}

.RateSheetSoftAndKIBOR .RateSheetSoftAndKIBOR-tbody > tr > td:nth-child(1) {
  font-weight: 700 !important;
  /* width: 150px !important; */
}

/* Hide Scrollbar Column */
.RateSheetSoftAndKIBOR
  .RateSheetSoftAndKIBOR-thead
  > tr:nth-child(1)
  > th.RateSheetSoftAndKIBOR-cell-scrollbar {
  display: none !important;
}

/* ================= BODY COMMON ================= */

.RateSheetSoftAndKIBOR .RateSheetSoftAndKIBOR-tbody > tr > td {
  text-align: center;
  padding: 5px 10px !important;
  border-bottom: 1px solid #837c66;
  font-family: "Helvetica", sans-serif !important;
  font-size: 14px;
  line-height: 1.5em;
}

.RateSheetSoftAndKIBOR-wrapper .RateSheetSoftAndKIBOR {
  scrollbar-color: auto !important;
}
.custom-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-loader-img {
  width: 55px; /* increase as needed */
}
