.tabsContent-tab-active {
  font-family: "Helvetica-Bold" !important;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  width: 110px !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.tabsContent .tabsContent-tab.tabsContent-tab-active .tabsContent-tab-btn {
  color: var(--color-black) !important;
}
.tabsContent-nav-list {
  gap: 8px !important;
  left: 100px;
}

.tabsContent-tab {
  border-top-left-radius: 6px;
  font-size: 14px;
  border-top-right-radius: 6px;
  /* background: var(--color-light) !; */
  background-color: #f6f4ef;
  color: var(--color-dark);
  position: relative;
  width: 110px !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  /* border-radius: 10px !important; */
}

.tabsContent .tabsContent-tab.tabsContent-tab .tabsContent-tab-btn {
  color: var(--color-dark);
}

.tabsContent-nav {
  margin: 0 !important;
  padding: 0 20px;
}

.tabsContent .tabsContent-content-holder {
  background: #fff !important;
  /* height: 100%; */
  min-height: 82vh;
  margin: 0;
  border-radius: 10px !important;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
