.login-screen {
  min-height: 98vh;
  background: url(../../../assets/img/login-bg.png) no-repeat;
  background-size: cover;
  background-position: fixed;
  padding: 15px 0px;
}
.login-screen .body-content-wrapper {
  min-height: auto;
  max-height: auto;
  margin-top: 35px;
}
.login-screen .form-wrapper {
  background: rgba(255, 255, 255, 0.5);
  width: 400px;
  min-height: 100px;
  max-height: auto;
  border-radius: 12px;
  padding: 15px;
}
.form-wrapper .logo {
  text-align: center;
}
.login-screen .form-wrapper .form-horizontal {
  padding-top: 10px;
}
.login-screen .select2-container--default .select2-selection--single,
.login-screen .form-wrapper .input-group .input-group-text,
.login-screen .form-wrapper .form-control {
  background: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  color: #002650;
}
.login-screen .form-wrapper .form-heading-wrap {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.login-screen .form-wrapper .form-heading-wrap .sub-heading {
  font-size: 14px;
}
.login-screen .required {
  color: #eb1100;
}

.user-input-wrapper,
.pass-input-wrapper {
  position: relative;
}
.view-pass {
  border-left: 0px;
}
.pass-input-wrapper input {
  border-right: 0px;
}
